.background {
  viewport-fill: black;
}

#clickbg {
  width: 100%;
  height: 100%;
  fill: black;
  opacity: 0
}

/* Clock View Labels */
#dateLabel {
  font-size: 25;
  font-family: Colfax-Medium;
  text-length: 50;
  text-anchor: start;
  x: 15;
  y: 24;
  fill: white;
}

#batteryLevelLabel {
  font-size: 23;
  font-family: Colfax-Medium;
  text-length: 4;
  text-anchor: center;
  x: 285;
  y: 26;
  fill: white;
}

#seperatorLine {
  stroke-width: 5;
  fill: deepskyblue;
}

#seperatorEndLeft{
  r:3;
  fill: deepskyblue;
}
#seperatorEndRight{
  r:3;
  fill: deepskyblue;
}

#clockLabel {
  font-size: 80;
  font-family: Colfax-Medium;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 40%;
  fill: white;
}

.data {
  font-size: 25;
  font-family: Colfax-Regular;
  text-anchor: start;
  text-length: 33;
  x: 37%;
  fill: white;
}

/* Stats View Labels */
.stats {
  font-size: 30;
  font-family: Colfax-Medium;
  text-anchor: start;
  text-length: 32;
  x: 25;
  fill: white;
}
/* Heart Rate */
#hr {
  transform: translate(3%,32)
}

#hr-count {
  text-anchor: start;
  text-length: 50;
  font-size: 26;
  font-family: Seville-Bold-Condensed;
  fill: white;
  x: 42;
  y: 22;
}
/*
#hr-resting {
  text-anchor: start;
  text-length: 6;
  font-size: 18;
  font-family: Seville-Bold-Condensed;
  fill: #969696;
  x: 43;
  y: 15;
}

#hr-zone {
  text-anchor: start;
  text-length: 15;
  font-size: 24;
  font-family: Seville-Bold-Condensed;
  fill: white;
  x: 110;
  y: 18;
}
*/
#hr-icon-systole {
  fill: crimson;
  width: 30;
  height: 30;
  x:0;
  y:-6;
}

#hr-icon-diastole {
  fill: crimson;
  width: 36;
  height: 36;
  x:-2;
  y:-8;
}

/* Forcast Labels */
.forecastDate {
  font-size: 26;
  font-family: Colfax-Bold;
  text-length: 50;
  text-anchor: start;
  x: 50;
  fill: white;
}

.forecastDescription {
  font-size: 24;
  font-family: Colfax-Medium;
  text-length: 50;
  text-anchor: start;
  x: 75;
  fill: orange;
}

.forecastHigh {
  font-size: 22;
  font-family: Colfax-Bold;
  text-length: 50;
  text-anchor: start;
  x: 75;
  fill: tomato;
}

.forecastHighVal {
  font-size: 22;
  font-family: Colfax-Bold;
  text-length: 50;
  text-anchor: start;
  x: 148;
  fill: tomato;
}

.forecastLow {
  font-size: 22;
  font-family: Colfax-Bold;
  text-length: 50;
  text-anchor: start;
  x: 196;
  fill: cornflowerblue;
}

.forecastLowVal{
  font-size: 22;
  font-family: Colfax-Bold;
  text-length: 50;
  text-anchor: start;
  x: 272;
  fill: cornflowerblue;
}

#steps {
  transform: translate(63,149);  
}

#tempLabel {
  font-size: 25;
  font-family: Colfax-Bold;
  text-length: 50;
  text-anchor: start;
  x: 75;
  fill: cornflowerblue;
}

#conditionLabel {
  font-size: 25;
  font-family: Colfax-Bold;
  text-length: 50;
  text-anchor: start;
  x: 125;
  fill: fb-orange;
}

#steps {  
  fill: gold;
}

.progress {
  x:6;
  y:28;
  height: 5;
  width: 10;
 /* fill: red;*/
}

.bg {
  x:6;
  y:30;
  height: 1;
  width: 65%-24;
  /*fill: red;*/
}

.count {
  font-size: 25;
  x: 26;
  y: 22;
  text-length: 50; 
  font-family: Fabrikat-Bold;
}

.icon {
  width: 20;
  height: 20;
  x:0;
  y:0;
}

.bar-icon {
  width: 30;
  height: 30;
  x:0;
  y:0;
}