.background {
  viewport-fill: black;
}

#clickbg {
  width: 100%;
  height: 100%;
  fill: black;
  opacity: 0
}

/* Clock View Labels */
#dateLabel {
  font-size: 32;
  font-family: Colfax-Medium;
  text-length: 50;
  text-anchor: start;
  x: 15;
  y: 25;
  fill: white;
}

#batteryLevelLabel {
  font-size: 23;
  font-family: Colfax-Medium;
  text-length: 4;
  text-anchor: center;
  x: 285;
  y: 26;
  fill: white;
}

#seperatorLine {
  stroke-width: 5;
  fill: deepskyblue;
}

#seperatorEndLeft{
  r:3;
  fill: deepskyblue;
}
#seperatorEndRight{
  r:3;
  fill: deepskyblue;
}

#clockLabel {
  font-size: 80;
  font-family: Colfax-Medium;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 40%;
  fill: white;
}

/* Heart Rate */
#hr {
  transform: translate(2%,31)
}

#hr-count {
  text-anchor: start;
  text-length: 50;
  font-size: 32;
  font-family: Seville-Bold-Condensed;
/*  fill: cornflowerblue; */
  x: 76;
  y: 18;
}

#hr-resting {
  text-anchor: start;
  text-length: 6;
  font-size: 18;
  font-family: Seville-Bold-Condensed;
/*  fill: #969696; */
  x: 38;
  y: 15;
}
/*
#hr-zone {
  text-anchor: start;
  text-length: 15;
  font-size: 24;
  font-family: Seville-Bold-Condensed;
  fill: white;
  x: 110;
  y: 18;
}
*/
#hr-icon-systole {
  fill: crimson;
  width: 30;
  height: 30;
  x:0;
  y:-6;
}

#hr-icon-diastole {
  fill: crimson;
  width: 36;
  height: 36;
  x:-2;
  y:-8;
}

/* Forcast Labels */
.forecastDate {
  font-size: 26;
  font-family: Colfax-Bold;
  text-length: 50;
  text-anchor: start;
  x: 50;
  fill: white;
}

.forecastDescription {
  font-size: 24;
  font-family: Colfax-Medium;
  text-length: 50;
  text-anchor: start;
  x: 75;
  fill: orange;
}

.forecastHigh {
  font-size: 22;
  font-family: Colfax-Bold;
  text-length: 50;
  text-anchor: start;
  x: 75;
  fill: tomato;
}

.forecastHighVal {
  font-size: 22;
  font-family: Colfax-Bold;
  text-length: 50;
  text-anchor: start;
  x: 148;
  fill: tomato;
}

.forecastLow {
  font-size: 22;
  font-family: Colfax-Bold;
  text-length: 50;
  text-anchor: start;
  x: 196;
  fill: cornflowerblue;
}

.forecastLowVal{
  font-size: 22;
  font-family: Colfax-Bold;
  text-length: 50;
  text-anchor: start;
  x: 272;
  fill: cornflowerblue;
}

#tempLabel {
  font-size: 32;
  font-family: Colfax-Bold;
  text-length: 50;
  text-anchor: start;
  x: 75;
  fill: cornflowerblue; 
}

#conditionLabel {
  font-size: 32;
  font-family: Colfax-Bold;
  text-length: 50;
  text-anchor: start;
  x: 130;
  fill: fb-orange;
}
/*
#steps {
  transform: translate(47,149);  
}
*/
#stepStats {
  transform: translate(3%,3%);  
}

#distStats {
  transform: translate(3%,0%);
}

#floorsStats  {
  transform: translate(3%,0%);
}

#activeStats {
  transform: translate(3%,0%);
}

#calsStats  {
  transform: translate(3%,0%);
}
/*
#steps {  
  fill: gold;
}
*/
#stepsArc {
  x: 37;
  y: 143;
  height: 36;
  width: 36;
  fill: fb-green;
  arc-width: 3;
  start-angle: 0;
  sweep-angle: 0;
}
/*
.tgt-no {
  cx: 74%+5;
  cy: 29;
  r: 4;
}

.tgt-yes {
  cx: 74%+5;
  cy: 29;
  r: 8; 
  display: none;
}
*/
.stats-tgt-no {
  cx: 89%+5;  
  cy: 15%;  
  r: 4;
  fill: red;
}

.stats-tgt-yes {
  cx: 89%+5; 
  cy: 15%;
  r: 8; 
  display: none;
  fill: red;
}

.data {
  font-size: 25;
  font-family: Colfax-Regular;
  text-anchor: start;
  text-length: 33;
  x: 37%;
  fill: white;
}

/* Stats View Labels */
.stats {
  font-size: 26;
  font-family: Colfax-Medium;
  text-anchor: start;
  text-length: 32;
  x: 25;
  fill: white;
}

.progress {
  x:6;
  y:28;
  height: 5;
  width: 10;
 /* fill: red;*/
}
/*
.bg {
  x:6;
  y:29;
  height: 1;
  width: 80%-24;
  /*fill: red;*/
}
*/
.statsBg {
  x:0;
  y:0;
  height: 1;
  /*fill: red;*/
}

.count {
  font-size: 30;
  x: 26;
  y: 22;
  text-length: 50; 
  font-family: Fabrikat-Bold;
}

.icon {
  width: 20;
  height: 20;
  x:0;
  y:0;
}

.bar-icon {
  width: 30;
  height: 30;
  x:0;
  y:0;
}